/*
    선택자
    id 선택자 #
    class 선택자 .
    태그 선택자 div th
*/

table, th, td {
    border: 1px solid #222;
    border-collapse: collapse;
}

th, td {
    padding: 20px;
}

img {
    width: 1000px;
    height: 500px;
}