@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Noto Sans KR', 'Open Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

.min-height-80 {
	@apply min-h-screen;
	min-height: calc(100vh - 80px);
}

.toast{
	position: fixed;
	top: 7rem;
	right: 2rem;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: cornflowerblue;
	transition: opacity 0.5;
}